/* CSS Portfolio Sara Claeys */

@import "reset.css";
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600&display=swap");
@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

body {
  font: 300 100%/1.6 Roboto, Arial, sans-serif;
  background: #f1f1f1f1;
  text-align: center;
  overflow-x: hidden;
}

h2 {
  font-size: 2rem;
  padding-top: 25px;
  padding-bottom: 25px;
}

h3 {
  font-size: 1.5rem;
  text-align: left;
  margin-left: 35px;
  color: #3b5c66;
}

h4 {
  font-size: 1.2rem;
  font-weight: 600;
  padding-top: 10px;
}

hr {
  width: 80%;
  color: #3b5c6633;
  margin-top: 25px;
  margin-bottom: 25px;
}

/*-------------------- main navigation------------------*/
a[href="#menu"] {
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 1000;
  display: block;
  color: #f1f1f1f1;
  background: #1e1e1e;
  width: 60px;
  height: 60px;
  font: 300 1.5rem/60px Raleway, Arial, sans-serif;
  text-align: center;
  transition: all 500ms;
}

a[href="#menu"]:hover {
  background: #1e1e1e;
}

.mainnav {
  position: fixed;
  z-index: 900;
  top: 0;
  right: 0;
}

.links {
  position: absolute;
  top: 0;
  right: -250;
  background: rgba(0, 0, 0, 0.5);
  width: 250px;
  height: 100vh;
  padding: 100px 10px 1em;
  transition: right 500ms ease-in-out;
}

.links a {
  display: block;
  background: #030303;
  padding: 1em;
  margin-bottom: 0.5em;
  color: #f1f1f1f1;
  text-decoration: none;
  transition: all 500ms;
}

.links a:hover {
  background: #1e1e1e;
}

.open {
  right: 0;
}

/*-------------------- main header ------------------*/
.mainheader .overlay {
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #f1f1f1f1;
  height: 100vh;
}

h1 {
  font: 300 2.5rem/1.6 Raleway, Arial, sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  padding: 0.5em 1em 0.8em;
  line-height: normal;
}

.overlay p {
  font: 300 1rem/1.6 Raleway, Arial, sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.6em;
  padding: 1em;
}

/*-------------------- arrow down------------------*/
#arrow-down a {
  padding-top: 70px;
  position: absolute;
  bottom: 35px;
}

#arrow-down a span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: arrow 1.5s infinite;
  animation: arrow 1.5s infinite;
  box-sizing: border-box;
}

@-webkit-keyframes arrow {
  0% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    -webkit-transform: rotate(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}

@keyframes arrow {
  0% {
    transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    transform: rotate(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}

/*-------------- about --------------*/
.about p {
  font-family: Roboto, Arial, sans-serif;
  padding: 0 30px;
}

/*-------------- button cv --------------*/
button.cv {
  text-transform: uppercase;
  font-family: Raleway;
  font-size: 0.8rem;
  width: 150px;
  height: 35px;
  background: #1e1e1e;
  color: #f1f1f1f1;
  cursor: pointer;
  margin-bottom: 25px;
  margin-top: 15px;
}

button.cv:hover {
  background: #1e1e1e;
  color: #f1f1f1f1;
}

/*-------------- profielfoto --------------*/
.image-about {
  filter: grayscale(30%);
  padding-top: 10px;
  display: flex;
  justify-content: center;
}

/*-------------- experiences --------------*/
.experience-row {
  text-align: left;
  margin-left: 35px;
}

.experience-row span {
  float: right;
  padding-right: 35px;
}

.experience-location {
  padding-top: 10px;
  padding-bottom: 15px;
  color: #3b5c66;
}

.experience-doc {
  padding-top: 15px;
}

i .fa .fa-map-marker {
  color: #3b5c66;
}

/*-------------- abilities --------------*/
.abilities {
  line-height: 2rem;
}

.hard-skills,
.soft-skills {
  text-align: left;
}

.no-bullets {
  list-style: none;
}

span.ability-title {
  display: inline-block;
  width: 50%;
}

span.ability-score {
  float: right;
  padding-right: 35px;
}

.fa-star {
  color: #d2d2d2;
}

.checked {
  color: #3b5c66;
}

/*-------------- languages --------------*/
.lang,
.tool {
  text-align: left;
  line-height: 2rem;
}

/*-------------------- projects------------------*/
.projects img {
  width: 100%;
  padding-bottom: 25px;
  padding-right: 35px;
}

.projects button {
  font-family: Raleway;
  font-size: 0.8rem;
  width: 250px;
  height: 35px;
  background: #1e1e1e;
  color: #f1f1f1f1;
  cursor: pointer;
  margin-bottom: 25px;
}

.projects button:hover {
  background: #1e1e1e;
  color: #f1f1f1f1;
  border: none;
}

/*-------------------- footer contact------------------*/
.contact {
  color: #f1f1f1;
  background: #1e1e1e;
  height: 675px;
  padding: 35px;
}

.contact h2 {
  padding-top: 25px;
}

.contact p {
  font: 300 1.2rem/60px Raleway, Arial, sans-serif;
  padding-top: 55px;
  line-height: 2.5rem;
}

.social-icons hr {
  background: #2d2d2d;
}

.social-icons {
  margin-top: 125px;
}

.social-icons .fa-linkedin-in {
  color: #f1f1f1;
}

.social-icons li {
  display: inline;
  font-size: 1.5rem;
  padding: 0 1em 1em;
}

.social-icons a {
  color: #999;
  text-decoration: none;
  transition: all 500ms;
}

.social-icons a:hover {
  color: #3b5c66;
}

ul.social-icons {
  padding: 0;
}

/*---------------- breakpoints --------------*/

@media screen and (min-width: 1250px) {
  h1 {
    font-size: 3rem;
    padding-top: 0;
  }

  p,
  li {
    font-size: 1.1rem;
  }

  .flex-container {
    width: 80vw;
    margin: 0 auto;
    display: flex;
    align-items: center;
    padding: 20px 100px 100px;
  }

  .about h2 {
    padding: 50px 0;
  }

  .about-text {
    padding-right: 75px;
  }

  .about button.cv {
    margin-top: 25px;
  }

  section.experiences,
  section.abilities,
  section.languages,
  section.tools {
    margin: 0 auto;
    width: 60vw;
  }

  .projects .no-bullets {
    display: grid;
    grid-template: auto / 1fr 1fr;
    grid-gap: 2em;
  }
}

/*----------- breakpoints voor iphone ----------*/

@media only screen and (min-device-width: 320px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 2) {

  .mainheader {
    background-size: none;
    background-attachment: scroll;
  }
}